html, body {
  height: 100%;
  margin: 0;
}
body {
  background: rgb(0, 2, 28);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 200%
}

h2 {
  font-size: 200%
}

h3 {
  font-size: 200%
}
